@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: transparent;
  --secondary: #a8a8a8;
}
div#root {
  position: relative;
  height: 100vh;
}
.cartItems::-webkit-scrollbar {
  width: 10px;
}

.cartItems::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

.cartItems::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
.blend-multiply {
  mix-blend-mode: multiply;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
