@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
}
body {
  font-family: "Josefin Sans", cursive;
}

.Navbar {
  margin: 1rem 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchBox {
  padding: 20px;
  height: 15px;
  margin: 0.5rem 1rem;
  flex: 1;
  border-radius: 15px 50px;
}
#circle {
  height: 2rem;
  width: 2rem;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.foodCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5rem;
  margin: 3rem;
}
.foodCardList > .card {
  display: flex;
  border-radius: 15px;

  flex-direction: column;
  max-width: 20%;
  width: 20%;
  background: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* .foodCardList > .card > *,
.card .resturant-bottom-details {
  margin: 0.5rem 0px;
} */

.foodCardList > .card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.3);
}

.foodCardList > .card img {
  width: 100%;
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  bottom: 0.4rem;
}
.foodCardList > .card > h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.foodCardList > .card p {
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.foodCardList > .card > div > h4 {
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  margin: 0.5rem 0px;
}

.TipSec {
  margin: 1rem 0px;
  align-self: flex-start;
}
.TipSec > h2 {
  margin: 0px 0px 0.5rem 0px;
  font-size: 1.2rem;
}
.recipieLink .recipieVideoIcon {
  color: #fff;
  background-color: red;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-radius: 7px;
  margin: 0.5rem 0px;
}
.TaglineSec {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 1rem 0px;
}
.faMartiniGlassCitrus {
  margin: 0px 0.5rem;
  font-size: 1.3rem;
}
.resturant-bottom-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0px;
}
.resturant-rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #48c479;
  color: #fff;
  padding: 0.3rem 0.4rem;
}
.resturant-rating span {
  padding: 0.1rem 0px 0px 0px;
}
.faStar {
  font-size: 0.8rem;
}
.resturant-details {
  margin: 0px 1rem;
}
.uppperBody {
  display: flex;
  align-items: center;
  margin: 0px 3rem;
  justify-content: space-between;
}
.uppperBody ul {
  display: flex;
  text-decoration: none;
  gap: 1rem;
  list-style: none;
}
.uppperBody .filterCardSec {
  margin: 0px 6rem 0px 0px;
}

.not-Developed {
  cursor: not-allowed;
}
.mainHeading {
  font-size: 2rem;
}
.SearchCardSec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex: 1; */
  width: 44%;
}
.SearchCardSec button {
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #ff5000;
  font-size: 16px;
}
