@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: transparent;
  --secondary: #a8a8a8;
}
.cartItems::-webkit-scrollbar {
  width: 10px;
}

.cartItems::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

.cartItems::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
